a:link {
    text-decoration: underline;
    color: #ffabac;
}

a:visited {
    color: #ffabac;
}

a:hover {
    color: #bcd7a2;
    text-decoration: none;

}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff0c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffe680;
}

::root {
    scrollbar-color: #fff0c8 #FFFFFF !important;
    scrollbar-width: thin !important;
    --backgroundSize: 105px;
}


@font-face {
    font-family: "strawberrymuffins";
    src: url("/fonts/BalsamiqSans-Regular.woff2") format("woff2"),
        url("/fonts/BalsamiqSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "porkys";
    src: url("/fonts/porkys.woff2") format("woff2"),
        url("/fonts/porkys.woff") format("woff");
}

@keyframes movingBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: var(--backgroundSize) var(--backgroundSize);
    }
}

body {
    font-family: "strawberrymuffins";
    font-size: 1.2cqw;
    background: url(/images/home/bg.png);
    background-size: var(--backgroundSize);
    color: #c96373;
    animation: movingBackground 5s linear infinite;
    overflow: hidden;
}

.smalltext {
    font-size: 1cqw;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
    width: 92vw;
}

.main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    pointer-events: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.neo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    pointer-events: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.content {
    background-color: #fff0f0;
    position: absolute;
    top: 39%;
    left: 18%;
    width: 41%;
    height: 53%;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 0;
    font-size: 1.2cqw;
}

.sidebuttons {
    position: absolute;
    top: 35%;
    left: 0%;
    width: 20%;
    height: 60%;
    z-index: 6;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.clockbox {
    align-items: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.clock {
    width: 100%;
    background-image: url("/images/homepage/face2.gif");
    background-repeat: no-repeat;
    position: absolute;
    top: 14%;
    right: 5.5%;
    pointer-events: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.hour,
.min,
.nose {
    position: absolute;
    z-index: 5;
    width: 100%;
    pointer-events: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.bannertext {
    position: absolute;
    top: 35.9%;
    left: 18.9%;
    z-index: 2;
    background-color: white;
    color: #d0eeb4;
    height: 2%;
    width: 40%;
    font-size: 1cqw;
    align-items: center;
    justify-content: center;
}

.timebox {
    position: absolute;
    align-items: right;
    justify-content: right;
    top: 32%;
    left: -36.8%;
    z-index: 6;
    font-size: 1.5cqw;
    width: 100%;
    color: #ffd4a6;
}

.htext {
    font-family: porkys;
    color: #ffabac;
    font-size: 1.4cqw;
    display: block;
    text-align: left;
    margin-bottom: -1cqw;
}

.box2 {
    width:60%;
    height: 90%;
    padding: 0.5cqw;
    background-color: white;
  }
  
  .box2out {
    width: 80%;
    background: url(../images/home/bggreen.png);
    background-size: 1vw;
    padding:0.7vw;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  }

  .box3{
    border-bottom: 1px dashed #d0eeb4;
    border-left: 1px dashed #d0eeb4;
    border-right: 1px dashed #d0eeb4;
    width:85%;
  }

.box4 {
    width: 90%;
    padding: 0.5cqw;
    margin: 1cqw;
    background-color: white;
    border: 0.7vw solid #ffd6d2;
}

.boxcon {
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo {
    position: absolute;
    top: 28%;
    right: 40%;
    z-index: 6;
}

.logo:hover {
    animation: bounce 0.8s infinite;
    -webkit-animation: bounce 0.8s infinite;
    -moz-animation: bounce 0.8s infinite;
    -o-animation: bounce 0.8s infinite;
}

@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: scale(1, 1);
    }

    50% {
        -webkit-transform: scale(2, 0.5);
    }
}

@-moz-keyframes bounce {

    0%,
    100% {
        -moz-transform: scale(1, 1);
    }

    50% {
        -moz-transform: scale(1.1, 0.9);
    }
}

@-o-keyframes bounce {

    0%,
    100% {
        -o-transform: scale(1, 1);
    }

    50% {
        -o-transform: scale(1.1, 0.9);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }
}

.ban {
    position: relative;
    width: 87%;
}

.closer {
    position: absolute;
    width: 100%;
    bottom: 2%;
    right: 40%;
    text-align: right;
    align-items: right;
    justify-content: right;
    vertical-align: bottom;
    color: #ffabac;
    z-index: 0;
}

.fbutton1 {
    position: absolute;
    width: 100%;
    top: 10.1%;
    left: 31%;
    z-index: 5;
}

.fbutton2 {
    position: absolute;
    width: 100%;
    top: 17.7%;
    left: -3%;
    z-index: 5;
}

.fbutton3 {
    position: absolute;
    width: 100%;
    top: 27.5%;
    left: 29%;
    z-index: 5;
}

.fbutton4 {
    position: absolute;
    width: 100%;
    top: 41.1%;
    left: -7%;
}

.fbutton5 {
    position: absolute;
    width: 100%;
    top: 51%;
    left: 30%;
    z-index: 5;
}

.fbutton6 {
    position: absolute;
    width: 100%;
    top: 79%;
    left: -7.9%;
    z-index: 5;
}

.fbutton7 {
    position: absolute;
    width: 100%;
    top: 69.6%;
    left: 33.3%;
    z-index: 5;
}

.linkz td,
.linkz td * {
    vertical-align: top;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.special {
    color: #ffabac;
    background-image: url(/images/home/yellow-sparkles.gif);
}

.about tr {
    background: #ffd6d2;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: #ffabac;
}

.about td:nth-child(even) {
    background: #fff0c8;
    color: #c96473;
}

.about th {
    color: #ffabac;
    padding: 0.5cqw;
}

.about {
    border-right: 1px dashed #ffd6d2;
    border-bottom: 1px dashed #ffd6d2;
    width: 100%;
}

.love tr {
    background: #fff0c8;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: #ffd4a6;
}

.love td:nth-child(even) {
    background: #ffd6d2;
    color: #c96473;
}

.love th {
    color: #ffd4a6;
    padding: 0.5cqw;
}

.love {
    border-right: 1px dashed #fff0c8;
    border-bottom: 1px dashed #fff0c8;
    width: 100%;
}

.link1 tr {
    background: #fff8e5;
    ;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.link1 tr:nth-child(even) {
    background: #fff0c8;
}

.link1 th {
    background: #ffd6d2;
    color: #ffabac;
    padding: 0.5cqw;
}

.link1 {
    border-right: 1px dashed #ffd6d2;
    border-bottom: 1px dashed #ffd6d2;
}

.link1 img,
.link2 img,
.link3 img {
    max-width: 70px;
    max-height:32px;
    image-rendering: pixelated;
    width: 100%;
}

.link2 tr {
    background: #fff0c8;
    ;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.link2 tr:nth-child(even) {
    background: #fff8e5;
}

.link2 th {
    background: #d0eeb4;
    color: #bcd7a2;
    padding: 0.5cqw;
}

.link2 {
    border-right: 1px dashed #d0eeb4;
    border-bottom: 1px dashed #d0eeb4;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        right: -10%
    }

    100% {
        right: 100%
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(80px);
        transform: translateY(50px)
    }
}

@keyframes snowflakes-fall {
    0% {
        right: -10%,
    }

    100% {
        right: 100%
    }
}


@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(90px)
    }
}

.snowflake {
    position: absolute;
    right: -10%;
    top: 30%;
    z-index: 9;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
    pointer-events:auto;
}

.snowflake:nth-of-type(0) {
    top: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake img {
    width:50%
}

.quizres {
    border: 1px solid #ffd6d2;
    overflow-x: hidden;
    overflow-y: scroll;
    width:100%;
    height:10cqw;
}

.quizres img {
    width:100%
}