a:link,
a:visited {
  text-decoration: underline;
  color: #ffabac;
}

a:hover {
  color: #bcd7a2;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff0c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffe680;
}

:root {
  scrollbar-color: #fff0c8 #FFFFFF !important;
  scrollbar-width: thin !important;
}

@font-face {
  font-family: "porkys";
  src: url("/fonts/porkys.woff2") format("woff2"),
    url("/fonts/porkys.woff") format("woff");
}

@font-face {
  font-family: "strawberrymuffins";
  src: url("/fonts/BalsamiqSans-Regular.woff2") format("woff2"),
    url("/fonts/BalsamiqSans-Regular.woff") format("woff");
}

.htext {
  font-family: porkys;
  color: #ffabac;
  font-size: 1.5em;
  display: block;
  text-align: left;
  margin: 0 auto;
}

.special {
    color: #ffabac;
    background-image: url(/images/home/yellow-sparkles.gif);
    background-size:62px;
    image-rendering: pixelated;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

body {
    overflow:hidden;
    font-family:strawberrymuffins;
    font-size:1.5cqw;
    background-image: url(/images/bg/greenlinescocorini.png);
    background-size:5em;
}

.main {
    width:100%;
    height:100%;
}
.mainside {
position:absolute;
width:100%;
pointer-events:none;
}

.maincontent {
    width:100%;
    height:85%;
    background:white;
    border:1px dashed black;
    overflow-y:scroll;
    overflow-x:hide;
    position:relative;
    right:0;
    display:inline-block;
    padding:0.5em;
}

.menu {
    position:relative;
        width:100%;
    right:0;
    top:0;
    background:gray;
}

.main2 {
    width:60%;
    height:100%;
    position:absolute;
    right:0;
}

.menubtn {
    background:none;
    border:none;
    font-family: porkys;
    font-size:1.5cqw;
}

.menubtn:hover {
    background:red;
    border:none;
}
