:link {
  text-decoration: underline;
  color: #ff808c;
}

a:visited {
  color: #ff808c;
}

a:hover {
  color:  #ff4a5b;
  text-decoration: none;
}




::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffe6b3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffe680;
}

@font-face {
  font-family: "strawberrymuffins";
  src: url("/fonts/BalsamiqSans-Regular.woff2") format("woff2"),
       url("/fonts/BalsamiqSans-Regular.woff") format("woff");
}
body {
  overflow-x: hidden;
  letter-spacing: 2px;
      font-family: "strawberrymuffins";
      color: #992b2f;
      font-size:18px;
        border-collapse: collapse;
        margin: 0px;
  
}

:root{
  scrollbar-color: #ffe6b3 #FFFFFF !important;
  scrollbar-width: thin !important;
}