.leftbox {
    width:20%;
    height:20%;
    background:green;
    position:absolute;
    text-align:left;
    padding:1%;
    margin:1%;
overflow-y:scroll;
overflow-x:hidden;
}
.mainbox {
    width:50%;
    height:97vh;
    background:blue;
padding:1%;
text-align:left;
overflow-y:scroll;
overflow-x:hidden;
}

html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
}

body {
    overflow: hidden;
}

.sideimg {
    position:absolute;
    bottom:0;
    right:1%;
    height:20vw;
}