a:link,
a:visited {
  text-decoration: underline;
  color: #ffabac;
}

a:hover {
  color: #bcd7a2;
  text-decoration: none;

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff0c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffe680;
}

:root {
  scrollbar-color: #fff0c8 #FFFFFF !important;
  scrollbar-width: thin !important;
  --backgroundSize: 105px;
}


@font-face {
  font-family: "strawberrymuffins";
  src: url("/fonts/BalsamiqSans-Regular.woff2") format("woff2"),
    url("/fonts/BalsamiqSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "porkys";
  src: url("/fonts/porkys.woff2") format("woff2"),
    url("/fonts/porkys.woff") format("woff");
}

@keyframes movingBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: var(--backgroundSize) var(--backgroundSize);
  }
}

body {
  font-family: "strawberrymuffins";
  font-size: 1.2cqw;
  background: url(/images/home/bg.png);
  background-size: var(--backgroundSize);
  color: #c96373;
  animation: movingBackground 5s linear infinite;
  overflow-x: hidden;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  width: 1000px;
  height: 719px;
  overflow: hidden;
  margin: 0;

}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  z-index: 1;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  z-index: 3;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.neo {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  z-index: 4;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.content {
  background-color: #fff0f0;
  width: 388px;
  height: 384px;
  position: absolute;
  top: 281px;
  left: 173px;
  font-size: 14px;
  overflow-y: scroll;
  overflow-x:hidden;

}

.clock {
  width: 100%;
  background-image: url("/images/homepage/face2.gif");
  background-repeat: no-repeat;
  position: absolute;
  top: 98px;
  right: 77px;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.hour,
.min,
.nose {
  position: absolute;
  z-index: 5;
  width: 100%;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.bannertext {
  position: absolute;
  top: 259px;
  left: 200px;
  z-index: 2;
  background-color: white;
  color: #d0eeb4;
  height: 15px;
  width: 360px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.timebox {
  position: absolute;
  align-items: right;
  justify-content: right;
  top: 230px;
  right: 373px;
  z-index: 6;
  font-size: 17px;
  width: 100%;
  color: #ffd4a6;
}

.fruitButtons {
  position: absolute;
  top: 295px;
  left: 50px;
  z-index: 6;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.logo {
  position: absolute;
  top: 205px;
  right: 430px;
  z-index: 6;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.logo:hover {
  animation: bounce 0.8s infinite;
  -webkit-animation: bounce 0.8s infinite;
  -moz-animation: bounce 0.8s infinite;
  -o-animation: bounce 0.8s infinite;
}

@-webkit-keyframes bounce {

  0%,
  100% {
    -webkit-transform: scale(1, 1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
}

@-moz-keyframes bounce {

  0%,
  100% {
    -moz-transform: scale(1, 1);
  }

  50% {
    -moz-transform: scale(1.1, 0.9);
  }
}

@-o-keyframes bounce {

  0%,
  100% {
    -o-transform: scale(1, 1);
  }

  50% {
    -o-transform: scale(1.1, 0.9);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }
}

.stamp {
  position: absolute;
  top: 402px;
  right: 397px;
  z-index: 3;
  transition: transform .8s ease-in-out;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.stamp:hover {
  transform: rotate(360deg);
}

.box1 {
  width: 318px;
  height: 100px;
  padding: 5px;
  margin: 10px;
  background-color: white;
  border: 7px solid #ffd6d2;
}

.htext {
  font-family: porkys;
  color: #ffabac;
  font-size: 15px;
  display: block;
  text-align: left;
  margin: 0 auto;
}

.litext {
  text-align: left;
}

.special {
    color: #ffabac;
    background-image: url(/images/home/yellow-sparkles.gif);
        background-size:62px;
    image-rendering: pixelated;
}

.boxcon {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  margin: 10px;
}

.box2 {
  width: 110px;
  height: 20px;
  padding: 5px;
  background-color: white;
}

.box2out {
  width: 130px;
  height: 30px;
  background: url(/images/home/bggreen.png);
  background-size: 10px;
  padding: 7px;
  align-items: center;
  justify-content: center;
}

.box3 {
    border-bottom: 1px dashed #d0eeb4;
    border-left: 1px dashed #d0eeb4;
    border-right: 1px dashed #d0eeb4;
    width:142px;
}

.closer {
  position: absolute;
  bottom: 10px;
  right: 440px;
  text-align: right;
  align-items: right;
  justify-content: right;
  vertical-align: bottom;
  color: #ffabac;
  z-index: 0;
  font-size: 14px;
}

.box4 {
    width: 90%;
    padding: 5px;
    margin: 10px;
    background-color: white;
    border: 7px solid #ffd6d2;
}

.quizres {
    border: 1px solid #ffd6d2;
    overflow-x: hidden;
    overflow-y: scroll;
    width:100%;
    height:10cqw;
}

.quizres img {
    width:100%
}

.love tr {
    background: #fff0c8;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: #ffd4a6;
}

.love td:nth-child(even) {
    background: #ffd6d2;
    color: #c96473;
}

.love th {
    color: #ffd4a6;
    padding: 0.5cqw;
}

.love {
    border-right: 1px dashed #fff0c8;
    border-bottom: 1px dashed #fff0c8;
    width: 100%;
}

.about tr {
    background: #ffd6d2;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: #ffabac;
}

.about td:nth-child(even) {
    background: #fff0c8;
    color: #c96473;
}

.about th {
    color: #ffabac;
    padding: 0.5cqw;
}

.about {
    border-right: 1px dashed #ffd6d2;
    border-bottom: 1px dashed #ffd6d2;
    width: 100%;
}

.linkz td,
.linkz td * {
    vertical-align: top;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.link1 tr {
    background: #fff8e5;
    ;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.link1 tr:nth-child(even) {
    background: #fff0c8;
}

.link1 th {
    background: #ffd6d2;
    color: #ffabac;
    padding: 5px;
}

.link1 {
    border-right: 1px dashed #ffd6d2;
    border-bottom: 1px dashed #ffd6d2;
}

.link1 img,
.link2 img,
.link3 img {
    max-width: 70px;
    max-height:32px;
    image-rendering: pixelated;
    width: 100%;
}

.link2 tr {
    background: #fff0c8;
    ;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.link2 tr:nth-child(even) {
    background: #fff8e5;
}

.link2 th {
    background: #d0eeb4;
    color: #bcd7a2;
    padding: 5px;
}

.link2 {
    border-right: 1px dashed #d0eeb4;
    border-bottom: 1px dashed #d0eeb4;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        right: 0%;
    }

    100% {
        right: 100%;
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(80px);
        transform: translateY(50px)
    }
}

@keyframes snowflakes-fall {
    0% {
        right: 0%;
    }

    100% {
        right: 100%;
    }
}


.snowflake {
    position: absolute;
    right: 0%;
    z-index: 9;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
    pointer-events:auto;
}

.snowflake:nth-of-type(0) {
    top: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake img {
    width:50%
}

.flakes {
  width:115%;
  height:100px;
  position:absolute;
  right:-10%;
  top:20%;
  z-index:9;
}