a:link,
a:visited {
  text-decoration: underline;
  color: #ffabac;
}

a:hover {
  color: #bcd7a2;
  text-decoration: none;

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff0c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffe680;
}

:root {
  scrollbar-color: #fff0c8 #FFFFFF !important;
  scrollbar-width: thin !important;
  --backgroundSize: 105px;
}


@font-face {
  font-family: "strawberrymuffins";
  src: url("/fonts/BalsamiqSans-Regular.woff2") format("woff2"),
    url("/fonts/BalsamiqSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "porkys";
  src: url("/fonts/porkys.woff2") format("woff2"),
    url("/fonts/porkys.woff") format("woff");
}

@keyframes movingBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: var(--backgroundSize) var(--backgroundSize);
  }
}

body {
  font-family: "strawberrymuffins";
  font-size: 1.2cqw;
  background: url(/images/home/bg.png);
  background-size: var(--backgroundSize);
  color: #c96373;
  animation: movingBackground 5s linear infinite;
  overflow-x: hidden;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  width: 1000px;
  height: 719px;
  overflow: hidden;
  margin: 0;

}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  z-index: 1;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  z-index: 3;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.neo {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  z-index: 4;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.content {
  background: url(/images/home/bgdot3.png);
  background-size: 7px;
  width: 388px;
  height: 384px;
  position: absolute;
  top: 281px;
  left: 173px;
  font-size: 12px;
  overflow: hidden;

}

.clock {
  width: 100%;
  background-image: url("/images/homepage/face2.gif");
  background-repeat: no-repeat;
  position: absolute;
  top: 98px;
  right: 77px;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.hour,
.min,
.nose {
  position: absolute;
  z-index: 5;
  width: 100%;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.bannertext {
  position: absolute;
  top: 259px;
  left: 200px;
  z-index: 2;
  background-color: white;
  color: #d0eeb4;
  height: 15px;
  width: 360px;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}

.timebox {
  position: absolute;
  align-items: right;
  justify-content: right;
  top: 230px;
  right: 373px;
  z-index: 6;
  font-size: 17px;
  width: 100%;
  color: #ffd4a6;
}

.fruitButtons {
  position: absolute;
  top: 295px;
  left: 50px;
  z-index: 6;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.logo {
  position: absolute;
  top: 205px;
  right: 430px;
  z-index: 6;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.logo:hover {
  animation: bounce 0.8s infinite;
  -webkit-animation: bounce 0.8s infinite;
  -moz-animation: bounce 0.8s infinite;
  -o-animation: bounce 0.8s infinite;
}

@-webkit-keyframes bounce {

  0%,
  100% {
    -webkit-transform: scale(1, 1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
}

@-moz-keyframes bounce {

  0%,
  100% {
    -moz-transform: scale(1, 1);
  }

  50% {
    -moz-transform: scale(1.1, 0.9);
  }
}

@-o-keyframes bounce {

  0%,
  100% {
    -o-transform: scale(1, 1);
  }

  50% {
    -o-transform: scale(1.1, 0.9);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }
}

.stamp {
  position: absolute;
  top: 402px;
  right: 397px;
  z-index: 3;
  transition: transform .8s ease-in-out;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.stamp:hover {
  transform: rotate(360deg);
}

.box1 {
  width: 85%;
  height: 115px;
  padding: 8px;
  margin: 10px;
  background: none;
  border-image: url("/images/home/border.png") 20 / 10px round;
}

.dashborder {
width:100%;
height:100%;
border: 2px dashed #fff0f0;
padding:4px;
  background: white;
  box-sizing: border-box;
}

.htext {
  font-family: porkys;
  color: #ffabac;
  font-size: 13px;
  display: block;
  text-align: left;
  margin: 0 auto;
}

.boxcon {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  margin: 10px;
  margin-top:20px;
  
}

.box2 {
  width: 190px;
  height: 120px;
  padding: 5px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.box2out {
  width: 200px;
  height: 130px;
  background: url(/images/home/bggreen.png);
  background-size: 10px;
  padding: 7px;
  align-items: center;
  justify-content: center;
  border: 2px solid #bdd8a3;
}

.box3 {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.closer {
  position: absolute;
  bottom: 10px;
  right: 440px;
  text-align: right;
  align-items: right;
  justify-content: right;
  vertical-align: bottom;
  color: #ffabac;
  z-index: 0;
  font-size: 14px;
}

.todo {
  width: 70px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  background-color: white;
  border: 7px solid #ffd6d2;
}

.menu {
  position: absolute;
  width: 230px;
  left: 20px;
  top: 206px;
  word-spacing: 1px;
}

.menubtn {
  font-family: porkys;
  font-size: 10px;
  color: white;
  background: url(/images/home/bggreen.png);
  background-repeat: repeat;
  background-size: 10px;
  border-left: 2px solid #bdd8a3;
  border-right: 2px solid #bdd8a3;
  border-top: 2px solid #bdd8a3;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  text-shadow: -1px 0 #bdd8a3, 0 2px #bdd8a3, 1px 0 #bdd8a3, 0 -1px #bdd8a3;
  display: inline-block;
}

.menubtn:hover {
  background-size: 10px;
  text-decoration: underline;
  color: #f1ffe3;
}

.hstext {
  font-family: porkys;
  color: white;
  font-size: 13px;
  display: block;
  text-align: left;
  margin: 0 auto;
  background: #ffd6d2;
    text-shadow: -1px 0 #ffabac, 0 2px #ffabac, 1px 0 #ffabac, 0 -1px #ffabac;

}

.hsstext {
  font-family: porkys;
  color: white;
  font-size: 13px;
  display: block;
  text-align: left;
  margin: 0 auto;
  background: #ffd6d2;
    text-shadow: -1px 0 #ffabac, 0 2px #ffabac, 1px 0 #ffabac, 0 -1px #ffabac;
}

.hss2text {
  background: #fff0c8;
      text-align: left;
    display: block;
}