

a:link,
a:visited {
  text-decoration: underline;
  color: #ffabac;
}

a:hover {
  color: #bcd7a2;
  text-decoration: none;

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff0c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffe680;
}

:root {
  scrollbar-color: #fff0c8 #FFFFFF !important;
  scrollbar-width: thin !important;
  --backgroundSize: 105px;
}


@font-face {
  font-family: "strawberrymuffins";
  src: url("/fonts/BalsamiqSans-Regular.woff2") format("woff2"),
    url("/fonts/BalsamiqSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "porkys";
  src: url("/fonts/porkys.woff2") format("woff2"),
    url("/fonts/porkys.woff") format("woff");
}

@keyframes movingBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: var(--backgroundSize) var(--backgroundSize);
  }
}

body {
  font-family: "strawberrymuffins";
  font-size: 1.2cqw;
  background: url(/images/home/bg.png);
  background-size: var(--backgroundSize);
  color: #c96373;
  animation: movingBackground 5s linear infinite;
overflow-y:auto;
overflow-x:hidden;
height:100%;
}

html {
    overscroll-behavior: none;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;

}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.neo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 4;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.content {
  background: url(/images/home/bgdot3.png);
  background-size: 7px;
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: 29vw;
  left: 18%;
  font-size: 1vw;
  overflow-y: scroll;
  overflow-x:hidden;
padding:1vw;
}

.clock {
  width: 100%;
  background-image: url("/images/homepage/face2.gif");
  background-repeat: no-repeat;
  position: absolute;
  top: 10.7vw;
  right: 5.45vw;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.hour,
.min,
.nose {
  position: absolute;
  z-index: 5;
  width: 100%;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.bannertext {
  position: absolute;
  top: 27.4vw;
  left: 22%;
  z-index: 2;
  background-color: white;
  color: #d0eeb4;
  height: 1.5vw;
  width: 37vw;
  font-size: 1em;
  align-items: center;
  justify-content: center;
}

.timebox {
  position: absolute;
  align-items: right;
  justify-content: right;
  top: 24.3vw;
  right: 36.7%;
  z-index: 6;
  font-size: 1.5em;
  width: 100%;
  color: #ffd4a6;
}

.fruitButtons {
  position: absolute;
  top: 31vw;
  left: 5%;
  width:15vw;
  z-index: 6;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.homeButton{
    top:31vw;
    left:13.2%;
    width:6.5vw;
    z-index:7;
    position:absolute;
}

.aboutButton{
    top:34.8vw;
    left:5.2%;
    width:7.3vw;
    z-index:7;
    position:absolute;
}

.exploreButton{
    top:39.8vw;
    left:13%;
    width:5.9vw;
    z-index:7;
    position:absolute;
}

.readButton{
    top:46.5vw;
    left:5.1%;
    width:5.9vw;
    z-index:7;
    position:absolute;
}

.funButton{
    top:51.9vw;
    left:12.9%;
    width:6.6vw;
    z-index:7;
    position:absolute;
}

.linksButton{
    top:60.9vw;
    left:5.3%;
    width:5.3vw;
    z-index:7;
    position:absolute;
}

.artButton{
    top:60.3vw;
    left:13.4%;
    width:6.5vw;
    z-index:7;
    position:absolute;
}

.logo {
  position: absolute;
  top: 21.4vw;
  right: 40%;
  z-index: 6;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.logo:hover {
  animation: bounce 0.8s infinite;
  -webkit-animation: bounce 0.8s infinite;
  -moz-animation: bounce 0.8s infinite;
  -o-animation: bounce 0.8s infinite;
}

@-webkit-keyframes bounce {

  0%,
  100% {
    -webkit-transform: scale(1, 1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
}

@-moz-keyframes bounce {

  0%,
  100% {
    -moz-transform: scale(1, 1);
  }

  50% {
    -moz-transform: scale(1.1, 0.9);
  }
}

@-o-keyframes bounce {

  0%,
  100% {
    -o-transform: scale(1, 1);
  }

  50% {
    -o-transform: scale(1.1, 0.9);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }
}

.stamp {
  position: absolute;
  top: 42.5vw;
  right: 36.5%;
  z-index: 3;
  transition: transform .8s ease-in-out;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.stamp:hover {
  transform: rotate(360deg);
}

.box1 {
  width:90%;
  padding: 0.417vw;
  margin: 0.521vw;
  background: none;
  border-image: url("/images/home/border.png") 20 / 0.521vw round;
  
}

.dashborder {
width:100%;
height:100%;
border: 2px dashed #fff0f0;
padding:0.208vw;
  background: white;
  box-sizing: border-box;
}

.dashborderhome {
width:100%;
height:11vw;
border: 2px dashed #fff0f0;
padding:0.208vw;
  background: white;
  box-sizing: border-box;
  overflow-x:hidden;
  overflow-y:auto;
}



.htext {
  font-family: porkys;
  color: #ffabac;
  font-size: 1.5vw;
  display: block;
  text-align: left;
  margin: 0 auto;
}

.sptext {
  font-family: porkys;
  color: #ffabac;
}

.sptext2 {
  color: #D0EEB4;
}

.boxcon {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  position:relative;
  width:100%;
}

.box2 {
  width: 17vw;
  height: 10vw;
  padding: 0.26vw;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
}

.box2out {
  width: 17.5vw;
  height: 10.5vw;
  background: url(/images/home/bggreen.png);
  background-size: 10px;
  padding: 0.365vw;
  align-items: center;
  justify-content: center;
  border: 2px solid #bdd8a3;
  position:relative;
}

.box2abt {
  width: 98%;
  height: 10vw;
  padding: 0.26vw;
  background-color: #f7fff0;
  overflow-y: auto;
  overflow-x: hidden;
}

.box2outabt {
  width: 90%;
  height: 10.5vw;
  background: url(/images/home/bggreen.png);
  background-size: 10px;
  padding: 0.365vw;
  align-items: center;
  justify-content: center;
  border: 2px solid #bdd8a3;
  position:relative;
}

.box3 {
  width: 17.5vw;
  height: 10.5vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.noticebox {
  background-color: #ffabac;
  color:white;
  margin-bottom:0.5vw;
}

.closer {
  position: absolute;
  top: 72.5vw;
  right: 41%;
  text-align: right;
  align-items: right;
  justify-content: right;
  font-family: porkys;
  color: white;
  font-size: 1vw;
  display: block;
  text-align: left;
  margin: 0 auto;
  z-index: 6;
  background: none;
    text-shadow: -1px 0 #ffabac, 0 2px #ffabac, 1px 0 #ffabac, 0 -1px #ffabac;
}

.guestbook {
  z-index:8;
  position:absolute;
  left:6%;
  top:66vw;
}

.menu {
  position: absolute;
  width: 17.5vw;
  top: -1.6vw;
  word-spacing: 1px;
  justify-content: space-evenly;
  display:flex;
}

.menuabt {
  position: absolute;
  width: 100%;
  top: -1.6vw;
  word-spacing: 1px;
  justify-content: space-evenly;
  display:flex;
}

.menubtn {
  font-family: porkys;
  font-size: 1vw;
  color: white;
  background: url(/images/home/bggreen.png);
  background-repeat: repeat;
  background-size: 10px;
  border-left: 2px solid #bdd8a3;
  border-right: 2px solid #bdd8a3;
  border-top: 2px solid #bdd8a3;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  text-shadow: -1px 0 #bdd8a3, 0 2px #bdd8a3, 1px 0 #bdd8a3, 0 -1px #bdd8a3;
  display: inline-block;
  padding:0.104vw;
}

.menubtn:hover {
  background-size: 10px;
  text-decoration: underline;
  color: #f1ffe3;
}

.hstext {
  font-family: porkys;
  color: white;
  font-size: 1vw;
  display: block;
  text-align: left;
  margin: 0 auto;
  background: #ffd6d2;
    text-shadow: -1px 0 #ffabac, 0 2px #ffabac, 1px 0 #ffabac, 0 -1px #ffabac;

}

.hsstext {
  font-family: porkys;
  color: white;
  font-size: 1vw;
  display: block;
  text-align: left;
  margin: 0 auto;
  background: #ffd6d2;
    text-shadow: -1px 0 #ffabac, 0 2px #ffabac, 1px 0 #ffabac, 0 -1px #ffabac;
}

.hss2text {
  background: #fff0c8;
      text-align: left;
    display: block;
}

.hsstext4 {
  border-bottom: #fff0c8 dashed 2px;
      text-align: left;
          display:inline-block;
          width:55%;
          padding-left:0.5vw;
          font-size: 0.8vw;
}

.hsstext3 {
  font-family: porkys;
  color: white;
  font-size: 0.8vw;
  text-align: center;
  border:2px #ffabac solid;
  border-radius: 2px;
  background: #ffd6d2;
    text-shadow: -1px 0 #ffabac, 0 2px #ffabac, 1px 0 #ffabac, 0 -1px #ffabac;
    width:35%;
    display:inline-block;
    padding:0.104vw;
    margin-bottom:0.5vw;
}

.ord1 {
    font-family: porkys;
  color: white;
  font-size: 0.8vw;
  text-align: center;
  border-radius: 2px;
    text-shadow: -1px 0 #ffabac, 0 2px #ffabac, 1px 0 #ffabac, 0 -1px #ffabac;
    width:10%;
    display:inline-block;
    padding:0.104vw;
    margin-bottom:0.5vw;
    vertical-align: top;
}

.ord2 {
      text-align: left;
          display:inline-block;
          width:80%;
          padding-left:0.5vw;
          font-size: 0.8vw;
}

.boxneo {
  margin: 0;
  position:absolute;
  bottom:0vw;
  right:-1vw;
}

#stats, #credits {
  text-align:left;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        right: 0%;
    }

    100% {
        right: 100%;
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(80px);
        transform: translateY(50px)
    }
}

@keyframes snowflakes-fall {
    0% {
        right: 0%;
    }

    100% {
        right: 100%;
    }
}


.snowflake {
    position: absolute;
    right: 0%;
    z-index: 9;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
    pointer-events:auto;
}

.snowflake:nth-of-type(0) {
    top: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake img {
    width:50%
}

.flakes {
  width:115%;
  height:5.208vw;
  position:absolute;
  right:-10%;
  top:13vw;
  z-index:9;
}

.webringbox {
  width:100%;
  margin:0;
  padding:0;
  height:5vw;
  overflow:hidden;
  background:none;
}

/* links exclusive */

.listy tr:nth-child(even) {
  background-color: #FFF5DC;
}

.listy tr:nth-child(odd) {
  background-color: #FFF0C8;
}

.listy td:nth-child(even) {
  width:50%;
}

.listy tr td {
  margin:0;
  color: #f1b87c;
}

.listy img, .listy1 img {
  display:block;
}

.listy1 tr:nth-child(even) {
  background-color: #e4fecc;
}

.listy1 tr:nth-child(odd) {
  background-color: #D0EEB4;
}

.listy1 td:nth-child(even) {
  width:50%;
}

.listy1 tr td {
  margin:0;
  color: #a2c57c;
}


/* about exclusive */

.quizres {
  border: 1px solid #ffd6d2;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 11vw;
  line-height: 0px;
}

.quizres img {
  width: 100%
}

hr {
  display: block;
  border: 0;
  border-top: 2px dashed #def3ca;
  margin: 0.052vw;
  padding: 0;
}

.hr2 {
  display: block;
  border: 0;
  border-top: 2px dashed #fbefbf;
  margin: 0.052vw;
  padding: 0;
}

.raspberry {
  text-shadow: -1px 0 #ff8fb9, 0 1px #ff8fb9, 1px 0 #ff8fb9, 0 -1px #ff8fb9;
  color: #E30B5D;
}

.bubblegum {
  text-shadow: -1px 0 #ff59ae, 0 1px #ff59ae, 1px 0 #ff59ae, 0 -1px #ff59ae;
  color: #FF8DC7;
}

.cotton {
  text-shadow: -1px 0 #79e9ed, 0 1px #79e9ed, 1px 0 #79e9ed, 0 -1px #79e9ed;
  color: #E1FEFF;
}

.candy {
  text-shadow: -1px 0 #f27474, 0 1px #f27474, 1px 0 #f27474, 0 -1px #f27474;
  color: #FFC0C0;
}

.lemon {
  text-shadow: -1px 0 #f2e268, 0 1px #f2e268, 1px 0 #f2e268, 0 -1px #f2e268;
  color: #FCFFC8;
}

.ramune {
  text-shadow: -1px 0 #639ff2, 0 1px #639ff2, 1px 0 #639ff2, 0 -1px #639ff2;
  color: #88CCFF;
}

.banana {
  text-shadow: -1px 0 #ffe478, 0 1px #ffe478, 1px 0 #ffe478, 0 -1px #ffe478;
  color:#FFFBE3;
}

/* read exclusive */

.litext {
  text-align: left;
}